{
  "swagger": "2.0",
  "info": {
    "title": "PagerDuty API",
    "description": "The PagerDuty API provides programmatic access to entities within a PagerDuty account. It is designed around [RESTful principles](https://en.wikipedia.org/wiki/Representational_state_transfer) with a path structure based on resources and their relationships.\n\nAll requests and responses are serialized in [JSON](https://en.wikipedia.org/wiki/JSON), including error responses.\n\nSchema are designed to be reusable across requests and across endpoints.\n\nMore sophisticated API clients should treat PagerDuty resources as unique objects keyed by the `id` field that can be used in any API request involving resources of that type.\n\nEvery resource contains a `type` field that identifies the schema it uses.\n\n## Rate limiting\n\nEach account and authentication mechanism is limited to the number of API requests it can make every minute. API requests that exceed the API rate limit will return an [HTTP status code](error_codes.html#http_responses) of 429. Different requests may affect your rate limit differently, so clients should always be prepared to be rate limited and respond appropriately.\n\n## Read-Only API Keys\n\nAPI requests made with read-only keys attempting to access endpoints with methods other than `GET` will return an [HTTP status code](error_codes.html#http_responses) of 403.\n\n## Error Codes\n\nMost APIs will return an error code from an unsuccessful call. They are described [here](error_codes.html).\n",
    "version": "2.0"
  },
  "host": "api.pagerduty.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "The Api Key with format `Token token=<API_KEY>`"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/vnd.pagerduty+json;version=2"
  ],
  "tags": [
    {
      "name": "API Reference",
      "description": "The API reference documentation provides all the nitty-gritty details of the endpoints available in the REST API.\nSee parameters you can specify, request and response schemas, as well as examples for every PagerDuty REST API endpoint.\n\nFind the endpoint you're looking for in the left navigation column.\nThen, consult the description in the middle column to learn about [parameters](#parameters) that can be specified with the request, possible [responses](#response-messages) to the request, and to [try out](#try-it-out-) a request.\nIn the right column, see examples and [schema definitions](#schemas) of what you can expect in a successful response.\nFor `PUT` and `POST` endpoints, examples and [schema definitions](#schemas) are available for request bodies as well.\n\n##### Parameters\n\nSee the names, [types](https://v2.developer.pagerduty.com/docs/types), possible values, and location of every parameter accepted by the endpoint.\n\n**Query parameters** located *in query* should be specified in the query string when making a request.\n**Body parameters** located *in body* should be specified in JSON format within the request body.\nBody parameters are typically only used with `POST` and `PUT` endpoints.\n**Header parameters** located *in header* should be specified as [standard HTTP headers](https://en.wikipedia.org/wiki/List_of_HTTP_header_fields) in the header section of the request.\n\n##### Schemas\n\nSchemas show the name, [type](https://v2.developer.pagerduty.com/docs/types), description, and possible values for every property in each [resource schema](https://v2.developer.pagerduty.com/docs/resource-schemas).\nProperties which are **read only** cannot be set as part of a request and will be generated by the server. Properties which are not **optional** are required, and *must* be specified in requests.\n\n##### Response Messages\n\nSee the possible [HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) that can be returned by the endpoint if the request did not complete successfully.\nOften, the response body for an unsuccessful request will contain one or more [error messages](https://v2.developer.pagerduty.com/docs/errors) that indicate what was wrong with the request in more detail.\n\n##### Try it out!\n\nTo test an endpoint against the live API, fill out at the endpoint's parameters and click the \"Try\" button.\nYou'll see the details of the request that was made and the response returned from the server.\n\nBy default, all requests will be made against the read-only \"webdemo\" PagerDuty account.\nProvide your own [API token](https://v2.developer.pagerduty.com/docs/authentication#api-token-authentication) in the \"API Token\" field in the left column and your requests will be sent to your account instead.\nRemember this is the **live API** â€”Â modify your own account with care.\n\n##### Learn more\n\nTo read about general PagerDuty API topics, including:\n- [Authentication](https://v2.developer.pagerduty.com/v2/docs/authentication)\n- [Versioning](https://v2.developer.pagerduty.com/v2/docs/versioning)\n- [Endpoints](https://v2.developer.pagerduty.com/v2/docs/endpoints)\n- [Types](https://v2.developer.pagerduty.com/v2/docs/types)\n- [Filtering](https://v2.developer.pagerduty.com/v2/docs/filtering)\n- [Sorting](https://v2.developer.pagerduty.com/v2/docs/sorting)\n- [Pagination](https://v2.developer.pagerduty.com/v2/docs/pagination)\n- [Resource Schemas](https://v2.developer.pagerduty.com/v2/docs/resource-schemas)\n- [Resource References](https://v2.developer.pagerduty.com/v2/docs/references)\n- [Includes](https://v2.developer.pagerduty.com/v2/docs/includes)\n- [Errors](https://v2.developer.pagerduty.com/v2/docs/errors)\n\n[consult the REST API Guide](https://v2.developer.pagerduty.com/docs/rest-api).\n"
    },
    {
      "name": "Abilities",
      "description": "This describes your account's abilities by feature name, like `\"teams\"`.\nAn ability may be available to your account based on things like your pricing plan or account state.\n"
    },
    {
      "name": "Add-ons",
      "description": "Third-party developers can write their own add-ons to PagerDuty's UI, to add HTML to the product.\nGiven a configuration containing a `src` parameter, that URL will be embedded in an `iframe` on a page that's available to users from a drop-down menu.\n"
    },
    {
      "name": "Escalation Policies",
      "description": "Escalation policies make sure the right people are alerted at the right time.\n\nAn escalation policy determines what [user](#resource_Users) or [schedule](#resource_Schedules) will be [notified](#resource_Notifications) first, second, and so on when an [incident](#resource_Incidents) is triggered.\nEscalation policies are used by one or more [services](#resource_Services).\n\n#### Escalation Rules\n\nAn escalation policy is made up of multiple [escalation rules](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules).\nEach escalation rule represents a level of [on-call](#resource_On-Calls) duty.\nIt specifies one or more [users](#resource_Users) or [schedules](#resource_Schedules) to be notified when an unacknowledged [incident](#resource_Incidents) reaches that [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules).\n\nThe first [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules) in the escalation policy is the [user](#resource_Users) that will be [notified](#resource_Notifications) first about the triggered [incident](#resource_Incidents).\n\nIf no [on-call](#resource_On-Calls) [user](#resource_Users) for a given [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules) has not acknowledged an [incident](#resource_Incidents) before the [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules)'s escalation delay has elapsed, the [incident](#resource_Incidents) escalates to the next [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules).\n\n[*Read more about escalation policies in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/articles/202828950-What-is-an-Escalation-Policy-).\n"
    },
    {
      "name": "Incidents",
      "description": "An incident is a normalized, de-duplicated event generated by a PagerDuty [integration](#!/Services/get_services_id_integrations_integration_id).\nIt can be thought of as a problem or an issue within your [service](#resource_Services) that needs to be addressed and resolved.\n\nIncidents can be `triggered`, `acknowledged`, or `resolved`, and are assigned to a user based on the [service](#resource_Services)'s [escalation policy](#resource_Escalation_Policies).\n\nA triggered incident prompts a [notification](#resource_Notifications) to be sent to the currently [on-call](#resource_On-Calls) [user(s)](#resource_Users) as defined in the escalation policy used by the [service](#resource_Services).\nIncidents are triggered through the [Events API](https://v2.developer.pagerduty.com/docs/events-api).\n\nUpdates to an incident generate [log entries](#resource_Log_Entries) that capture the changes to an incident over time, whether these changes were prompted by a [user](#resource_Users), an [integration](#resource_Integrations), or were performed automatically.\n\n[*Read more about incidents in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/articles/202829250-What-Is-an-Incident-).\n"
    },
    {
      "name": "Log Entries",
      "description": "PagerDuty keeps a log of all the events that happen to an [incident](#resource_Incidents).\nThese are exposed as log entries.\nLog entries give you more insight into how your [team](#resource_Teams) or organization is handling your [incidents](#resource_Incidents).\n\nLog entry data includes details about the event(s) that affected the [incident](#resource_Incidents) throughout its lifecycle, such as:\n- the data contained in events sent by the [integration](#!/Services/get_services_id_integrations_integration_id)\n- what [users](#resource_Users) were [notified](#resource_Notifications) and when\n- how they were [notified](#resource_Notifications)\n- what [user(s)](#resource_Users) acknowledged or resolved the [incident](#resource_Incidents)\n- any automatic actions that occurred to the [incident](#resource_Incidents)\n- other manual [user](#resource_Users) actions, such as a reassignment or a note\n\nLog entries cannot be created directly through the API; they are a result of other actions. The API provides read-only access to the log entries generated by PagerDuty.\n"
    },
    {
      "name": "Maintenance Windows",
      "description": "A maintenance window is used to temporarily disable one or more [services](#resource_Services) for a set period of time.\nNo [incidents](#resource_Incidents) will be triggered and no [notifications](#resource_Notifications) will be received while a [service](#resource_Services) is disabled by a maintenance window.\n\nMaintenance windows are specified to start at a certain time and end after they have begun.\nOnce started, a maintenance window cannot be deleted; it can only be ended immediately to re-enable the [service](#resource_Services).\n\n[*Read more about maintenance windows in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/articles/202830350-Putting-a-service-in-maintenance-mode).\n"
    },
    {
      "name": "Notifications",
      "description": "When an [incident](#resource_Incidents) is triggered or escalated, it creates a notification.\n\nNotifications are messages containing the details of the [incident](#resource_Incidents), and can be sent through SMS, email, phone calls, and push notifications.\n\nNotifications cannot be created directly through the API; they are a result of other actions.\nThe API provides read-only access to the notifications generated by PagerDuty.\n\n[*Read more about notifications in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/articles/202828840-What-is-an-Alert-Notification-).\n"
    },
    {
      "name": "On-Calls",
      "description": "An on-call represents a contiguous unit of time for which a [user](#resource_Users) will be on call for a given [escalation policy](#resource_Escalation_Policies) and [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules).\nThis may be the result of that [user](#resource_Users) always being on call for the [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules), or a block of time during which the computed result of a [schedule](#resource_Schedules) on that [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules) puts the user on call.\n\nDuring an on-call, the [user](#resource_Users) is expected to bear responsibility for responding to any [notifications](#resource_Notifications) he or she receives and working to resolve the associated [incident(s)](#resource_Incidents).\n\nOn-calls cannot be created directly through the API; they are the computed result of how [escalation policies](#resource_Escalation_Policies) and [schedules](#resource_Schedules) are configured.\nThe API provides read-only access to the on-calls generated by PagerDuty.\n"
    },
    {
      "name": "Schedules",
      "description": "An on-call schedule determines the time periods that users are [on call](#resource_On-Calls).\nOnly [on-call](#resource_On-Calls) [users](#resource_Users) are eligible to receive [notifications](#resource_Notifications) from [incidents](#resource_Incidents).\n\nThe details of the on-call schedule specify which single [user](#resource_Users) is [on call](#resource_On-Calls) for that schedule at any given point in time.\nAn on-call schedule consists of one or more [schedule layers](https://support.pagerduty.com/hc/en-us/articles/202830250-Scheduling-Layers) that rotate a group of [users](#resource_Users) through the same shift at a set interval.\n\nRestrictions on each schedule layer limit on-call responsibility for that layer to certain times of the day or week.\nThe period of time during which a [user](#resource_Users) is present on a schedule layer is called a schedule layer entry.\n\nThe ordered composition of schedule layers, combined with any schedule layer entries from the override layer, known as [overrides](#!/Schedules/get_schedules_id_overrides), results in the final schedule layer.\nThe final schedule layer represents the computed set of schedule layer entries that put [users](#resource_Users) [on call](#resource_On-Calls) for the schedule, and cannot be modified directly.\n\nSchedules are used by [escalation policies](#resource_Escalation_Policies) as an escalation target for a given [escalation rule](#!/Escalation_Policies/get_escalation_policies_id_escalation_rules).\n\n[*Read more about on-call schedules in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/sections/200550790-On-Call-Schedules).\n"
    },
    {
      "name": "Services",
      "description": "A PagerDuty service represents something you monitor (like a web service, email service, or database service).\nIt is a container for related [incidents](#resource_Incidents) that associates them with [escalation policies](#resource_Escalation_Policies).\n\nA service is the focal point for [incident](#resource_Incidents) management; services specify the configuration for the behavior of [incidents](#resource_Incidents) triggered on them.\nThis behavior includes specifying urgency and performing automated actions based on time of day, [incident](#resource_Incidents) duration, and other factors.\n\n#### Integrations\n\nAn integration is an endpoint (like Nagios, email, or an API call) that generates events, which are normalized and de-duplicated by PagerDuty to create [incidents](#resource_Incidents).\nIntegrations feed events into services and provide event management functionality such as filtering and de-duplication.\n\n[*Read more about services in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/sections/200550800-Services).\n"
    },
    {
      "name": "Teams",
      "description": "A team is a collection of [users](#resource_Users) and [escalation policies](#resource_Escalation_Policies) that represent a group of people within an organization.\n\nTeams can be used throughout the API and PagerDuty applications to filter information to only what is relevant for one or more teams.\n\nThe account must have the teams ability to use the following endpoints.\n\n[*Read more about teams in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/articles/204072090-How-to-Create-Teams-in-PagerDuty-).\n"
    },
    {
      "name": "Users",
      "description": "PagerDuty users are members of a PagerDuty account that have the ability to interact with [incidents](#resource_Incidents) and other data on the account.\n\nUsers are fundamental agents of different types of actions in PagerDuty. A user can, among other things:\n- acknowlege, reassign, snooze, escalate, and resolve [incidents](#resource_Incidents)\n- configure [services](#resource_Services), [escalation policies](#resource_Escalation_Policies), [integrations](#!/Services/get_services_id_integrations_integration_id), [on-call schedules](#resource_Schedules), [teams](#resource_Teams), and more\n- go [on call](#resource_On-Calls) for one or more [schedules](#resource_Schedules) or [escalation policies](#resource_Escalation_Policies)\n- receive [notifications](#resource_Notifications)\n\nDepending on a user's role, he or she may have access to different parts of the account's data.\n\n[*Read more about users in the PagerDuty Knowledge Base*](https://support.pagerduty.com/hc/en-us/sections/200550780-Users).\n"
    },
    {
      "name": "Vendors",
      "description": "A PagerDuty vendor represents a specific type of integration. AWS Cloudwatch, Splunk, Datadog, etc are all examples of vendors\nthat can be integrated in PagerDuty by making an [integration](#!/Services/get_services_id_integrations_integration_id).\n\nVendored integrations (when compared to generic email and API integrations) are automatically configured with the right API or email\nfiltering settings for inbound events from that vendor. Some vendors also have associated integration guides\non the PagerDuty support site.\n"
    }
  ],
  "paths": {
    "/api_reference": {
      "x-description": "Introduction to the PagerDuty REST API Reference.",
      "get": {
        "tags": [
          "API Reference"
        ],
        "summary": "REST API Reference",
        "description": "REST API Reference.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/abilities": {
      "x-description": "List your account's abilities.",
      "get": {
        "tags": [
          "Abilities"
        ],
        "description": "List all of your account's abilities, by name.",
        "summary": "List abilities",
        "responses": {
          "200": {
            "description": "An array of ability names.",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "abilities": {
                      "type": "array",
                      "description": "The set of abilities your account has.",
                      "items": {
                        "type": "string",
                        "description": "A single ability, as a name.",
                        "readOnly": true
                      }
                    }
                  },
                  "required": [
                    "abilities"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "abilities": [
                  "teams",
                  "read_only_users",
                  "service_support_hours",
                  "urgencies"
                ]
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/abilities/{id}": {
      "x-description": "Get an ability.",
      "get": {
        "tags": [
          "Abilities"
        ],
        "description": "Test whether your account has a given ability.",
        "summary": "Test an ability",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "The account has the requested ability."
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/addons": {
      "x-description": "List and add add-ons to your account.",
      "get": {
        "tags": [
          "Add-ons"
        ],
        "description": "List all of the add-ons installed on your account.",
        "summary": "List installed add-ons",
        "parameters": [
          {
            "$ref": "#/parameters/include_addon"
          },
          {
            "name": "service_ids[]",
            "in": "query",
            "description": "Filters the results, showing only add-ons for the given services",
            "type": "array",
            "collectionFormat": "multi",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filters the results, showing only add-ons of the given type",
            "type": "string",
            "enum": [
              "full_page_addon",
              "incident_show_addon"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of installed add-ons.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "addons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Addon"
                      }
                    }
                  },
                  "required": [
                    "addons"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "addons": [
                  {
                    "id": "PKX7619",
                    "type": "full_page_addon",
                    "summary": "Internal Status Page",
                    "self": "https://api.pagerduty.com/addons/PKX7619",
                    "html_url": "https://subdomain.pagerduty.com/addons/PKX7619",
                    "name": "Internal Status Page",
                    "src": "https://intranet.example.com/status"
                  }
                ],
                "limit": 25,
                "offset": 0,
                "more": false,
                "total": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Add-ons"
        ],
        "description": "Install an add-on for your account.",
        "summary": "Install an add-on",
        "parameters": [
          {
            "name": "addon",
            "in": "body",
            "description": "The add-on to be installed.",
            "schema": {
              "type": "object",
              "properties": {
                "addon": {
                  "$ref": "#/definitions/Addon"
                }
              },
              "required": [
                "addon"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The add-on that was installed.",
            "schema": {
              "type": "object",
              "properties": {
                "addon": {
                  "$ref": "#/definitions/Addon"
                }
              },
              "required": [
                "addon"
              ]
            },
            "examples": {
              "application/json": {
                "addon": {
                  "id": "PKX7619",
                  "type": "full_page_addon",
                  "summary": "Internal Status Page",
                  "self": "https://api.pagerduty.com/addons/PKX7619",
                  "html_url": "https://subdomain.pagerduty.com/addons/PKX7619",
                  "name": "Internal Status Page",
                  "src": "https://intranet.example.com/status"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/addons/{id}": {
      "x-description": "Get an add-on.",
      "get": {
        "tags": [
          "Add-ons"
        ],
        "description": "Get details about an existing add-on.",
        "summary": "Get an add-on",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested add-on.",
            "schema": {
              "type": "object",
              "properties": {
                "addon": {
                  "$ref": "#/definitions/Addon"
                }
              },
              "required": [
                "addon"
              ]
            },
            "examples": {
              "application/json": {
                "addon": {
                  "id": "PKX7F81",
                  "type": "incident_show_addon",
                  "name": "Service Runbook",
                  "src": "https://intranet.example.com/runbook.html",
                  "services": [
                    {
                      "id": "PIJ90N7",
                      "type": "service",
                      "summary": "My Application Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Add-ons"
        ],
        "description": "Remove an existing add-on.",
        "summary": "Delete an add-on",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "The add-on was deleted successfully."
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Add-ons"
        ],
        "description": "Update an existing add-on.",
        "summary": "Update an add-on",
        "parameters": [
          {
            "name": "addon",
            "in": "body",
            "description": "The add-on to be updated.",
            "schema": {
              "type": "object",
              "properties": {
                "addon": {
                  "$ref": "#/definitions/Addon"
                }
              },
              "required": [
                "addon"
              ]
            }
          },
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "The add-on that was updated.",
            "schema": {
              "type": "object",
              "properties": {
                "addon": {
                  "$ref": "#/definitions/Addon"
                }
              },
              "required": [
                "addon"
              ]
            },
            "examples": {
              "application/json": {
                "addon": {
                  "id": "PKX7F81",
                  "type": "incident_show_addon",
                  "name": "Service Runbook",
                  "src": "https://intranet.example.com/runbook.html",
                  "services": [
                    {
                      "id": "PIJ90N7",
                      "type": "service",
                      "summary": "My Application Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/escalation_policies": {
      "x-description": "List and create escalation policies.",
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "description": "List all of the existing escalation policies.",
        "summary": "List escalation policies",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Filters the results, showing only the escalation policies whose names contain the query.",
            "type": "string"
          },
          {
            "name": "user_ids[]",
            "in": "query",
            "description": "Filters the results, showing only escalation policies on which any of the users is a target.",
            "type": "array",
            "collectionFormat": "multi",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          {
            "$ref": "#/parameters/team_ids"
          },
          {
            "$ref": "#/parameters/include_escalation_policy"
          },
          {
            "$ref": "#/parameters/sort_by_escalation_policy"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of escalation policy objects.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "escalation_policies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/EscalationPolicy"
                      }
                    }
                  },
                  "required": [
                    "escalation_policies"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "escalation_policies": [
                  {
                    "id": "PANZZEQ",
                    "type": "escalation_policy",
                    "summary": "Engineering Escalation Policy",
                    "self": "https://api.pagerduty.com/escalation_policies/PANZZEQ",
                    "html_url": "https://subdomain.pagerduty.com/escalation_policies/PANZZEQ",
                    "name": "Engineering Escalation Policy",
                    "escalation_rules": [
                      {
                        "id": "PANZZEQ",
                        "escalation_delay_in_minutes": 30,
                        "targets": [
                          {
                            "id": "PEYSGVF",
                            "summary": "PagerDuty Admin",
                            "type": "user_reference",
                            "self": "https://api.pagerduty.com/users/PEYSGVF",
                            "html_url": "https://subdomain.pagerduty.com/users/PEYSGVF"
                          },
                          {
                            "id": "PI7DH85",
                            "summary": "Daily Engineering Rotation",
                            "type": "schedule_reference",
                            "self": "https://api.pagerduty.com/schedules/PI7DH85",
                            "html_url": "https://subdomain.pagerduty.com/schedules/PI7DH85"
                          }
                        ]
                      }
                    ],
                    "services": [
                      {
                        "id": "PIJ90N7",
                        "type": "generic_email_reference",
                        "summary": "My Mail Service",
                        "self": "https://api.pagerduty.com/services/PIJ90N7",
                        "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                      }
                    ],
                    "num_loops": 0,
                    "teams": [
                      {
                        "id": "PQ9K7I8",
                        "type": "team_reference",
                        "summary": "Engineering",
                        "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                        "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                      }
                    ],
                    "description": null
                  }
                ],
                "limit": 25,
                "offset": 0,
                "more": false,
                "total": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Escalation Policies"
        ],
        "description": "Creates a new escalation policy. There must be at least one existing escalation rule added to create a new escalation policy.",
        "summary": "Create an escalation policy",
        "parameters": [
          {
            "$ref": "#/parameters/optional_from_header"
          },
          {
            "name": "escalation_policy",
            "in": "body",
            "description": "The escalation policy to be created.",
            "schema": {
              "type": "object",
              "properties": {
                "escalation_policy": {
                  "$ref": "#/definitions/EscalationPolicy"
                }
              },
              "required": [
                "escalation_policy"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The escalation policy that was created.",
            "schema": {
              "type": "object",
              "properties": {
                "escalation_policy": {
                  "$ref": "#/definitions/EscalationPolicy"
                }
              },
              "required": [
                "escalation_policy"
              ]
            },
            "examples": {
              "application/json": {
                "escalation_policy": {
                  "id": "PT20YPA",
                  "type": "escalation_policy",
                  "summary": "Engineering Escalation Policy",
                  "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                  "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA",
                  "name": "Engineering Escalation Policy",
                  "escalation_rules": [
                    {
                      "id": "PT20YPA",
                      "escalation_delay_in_minutes": 22,
                      "targets": [
                        {
                          "id": "PXPGF42",
                          "summary": "Earline Greenholt",
                          "type": "user_reference",
                          "self": "https://api.pagerduty.com/users/PXPGF42",
                          "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                        },
                        {
                          "id": "PI7DH85",
                          "summary": "Daily Engineering Rotation",
                          "type": "schedule_reference",
                          "self": "https://api.pagerduty.com/schedules/PI7DH85",
                          "html_url": "https://subdomain.pagerduty.com/schedules/PI7DH85"
                        }
                      ]
                    }
                  ],
                  "services": [
                    {
                      "id": "PIJ90N7",
                      "type": "generic_email_reference",
                      "summary": "My Mail Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    }
                  ],
                  "num_loops": 2,
                  "teams": [
                    {
                      "id": "PQ9K7I8",
                      "type": "team_reference",
                      "summary": "Engineering",
                      "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                      "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                    }
                  ],
                  "description": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/escalation_policies/{id}": {
      "x-description": "Manage an escalation policy.",
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "description": "Get information about an existing escalation policy and its rules.",
        "summary": "Get an escalation policy",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/include_escalation_policy"
          }
        ],
        "responses": {
          "200": {
            "description": "The escalation policy object.",
            "schema": {
              "type": "object",
              "properties": {
                "escalation_policy": {
                  "$ref": "#/definitions/EscalationPolicy"
                }
              },
              "required": [
                "escalation_policy"
              ]
            },
            "examples": {
              "application/json": {
                "escalation_policy": {
                  "id": "PT20YPA",
                  "type": "escalation_policy",
                  "summary": "Another Escalation Policy",
                  "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                  "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA",
                  "name": "Another Escalation Policy",
                  "escalation_rules": [
                    {
                      "id": "PGHDV41",
                      "escalation_delay_in_minutes": 30,
                      "targets": [
                        {
                          "id": "PAM4FGS",
                          "summary": "Kyler Kuhn",
                          "type": "user_reference",
                          "self": "https://api.pagerduty.com/users/PAM4FGS",
                          "html_url": "https://subdomain.pagerduty.com/users/PAM4FGS"
                        },
                        {
                          "id": "PI7DH85",
                          "summary": "Daily Engineering Rotation",
                          "type": "schedule_reference",
                          "self": "https://api.pagerduty.com/schedules/PI7DH85",
                          "html_url": "https://subdomain.pagerduty.com/schedules/PI7DH85"
                        }
                      ]
                    }
                  ],
                  "services": [
                    {
                      "id": "PIJ90N7",
                      "type": "generic_email_reference",
                      "summary": "My Mail Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    }
                  ],
                  "num_loops": 2,
                  "teams": [
                    {
                      "id": "PQ9K7I8",
                      "type": "team_reference",
                      "summary": "Engineering",
                      "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                      "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                    }
                  ],
                  "description": "This is yet another escalation policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Escalation Policies"
        ],
        "description": "Deletes an existing escalation policy and rules. The escalation policy must not be in use by any services.",
        "summary": "Delete an escalation policy",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "The escalation policy was deleted successfully."
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Escalation Policies"
        ],
        "description": "Updates an existing escalation policy and rules.",
        "summary": "Update an escalation policy",
        "parameters": [
          {
            "name": "escalation_policy",
            "in": "body",
            "description": "The escalation policy to be updated.",
            "schema": {
              "type": "object",
              "properties": {
                "escalation_policy": {
                  "$ref": "#/definitions/EscalationPolicy"
                }
              },
              "required": [
                "escalation_policy"
              ]
            }
          },
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "The escalation policy that was updated.",
            "schema": {
              "type": "object",
              "properties": {
                "escalation_policy": {
                  "$ref": "#/definitions/EscalationPolicy"
                }
              },
              "required": [
                "escalation_policy"
              ]
            },
            "examples": {
              "application/json": {
                "escalation_policy": {
                  "id": "PT20YPA",
                  "type": "escalation_policy",
                  "summary": "Another Escalation Policy",
                  "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                  "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA",
                  "name": "Another Escalation Policy",
                  "escalation_rules": [
                    {
                      "id": "PGHDV41",
                      "escalation_delay_in_minutes": 30,
                      "targets": [
                        {
                          "id": "PAM4FGS",
                          "summary": "Kyler Kuhn",
                          "type": "user_reference",
                          "self": "https://api.pagerduty.com/users/PAM4FGS",
                          "html_url": "https://subdomain.pagerduty.com/users/PAM4FGS"
                        },
                        {
                          "id": "PI7DH85",
                          "summary": "Daily Engineering Rotation",
                          "type": "schedule_reference",
                          "self": "https://api.pagerduty.com/schedules/PI7DH85",
                          "html_url": "https://subdomain.pagerduty.com/schedules/PI7DH85"
                        }
                      ]
                    }
                  ],
                  "services": [
                    {
                      "id": "PIJ90N7",
                      "type": "generic_email_reference",
                      "summary": "My Mail Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    }
                  ],
                  "num_loops": 2,
                  "teams": [
                    {
                      "id": "PQ9K7I8",
                      "type": "team_reference",
                      "summary": "Engineering",
                      "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                      "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                    }
                  ],
                  "description": "This is yet another escalation policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/escalation_policies/{id}/escalation_rules": {
      "x-description": "List and manage rules for an escalation policy."
    },
    "/escalation_policies/{id}/escalation_rules/{escalation_rule_id}": {
      "x-description": "Manage a rule for an escalation policy."
    },
    "/incidents": {
      "x-description": "List and update incidents.",
      "get": {
        "tags": [
          "Incidents"
        ],
        "description": "List existing incidents.",
        "summary": "List incidents",
        "parameters": [
          {
            "$ref": "#/parameters/since"
          },
          {
            "$ref": "#/parameters/until"
          },
          {
            "$ref": "#/parameters/date_range"
          },
          {
            "name": "statuses[]",
            "in": "query",
            "description": "Return only incidents with the given statuses. (More status codes may be introduced in the future.)",
            "type": "array",
            "collectionFormat": "multi",
            "uniqueItems": true,
            "items": {
              "type": "string"
            },
            "enum": [
              "triggered",
              "acknowledged",
              "resolved"
            ]
          },
          {
            "$ref": "#/parameters/incident_key"
          },
          {
            "$ref": "#/parameters/incident_services"
          },
          {
            "$ref": "#/parameters/team_ids"
          },
          {
            "$ref": "#/parameters/incident_assigned_to_user"
          },
          {
            "$ref": "#/parameters/incident_urgencies"
          },
          {
            "$ref": "#/parameters/time_zone"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Used to specify both the field you wish to sort the results on (incident_number/created_on/resolved_on/urgency), as well as the direction (asc/desc) of the results. The sort_by field and direction should be separated by a colon. A maximum of two fields can be included, separated by a comma. Sort direction defaults to ascending. The account must have the `urgencies` ability to sort by the urgency.",
            "collectionFormat": "csv",
            "type": "array",
            "uniqueItems": true,
            "maxItems": 2,
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include[]",
            "in": "query",
            "description": "Array of additional details to include.",
            "type": "array",
            "collectionFormat": "multi",
            "uniqueItems": true,
            "items": {
              "type": "string"
            },
            "enum": [
              "users",
              "services",
              "first_trigger_log_entries",
              "escalation_policies",
              "teams",
              "assignees",
              "acknowledgers"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of incidents.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "incidents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Incident"
                      }
                    }
                  },
                  "required": [
                    "incidents"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "incidents": [
                  {
                    "id": "PT4KHLK",
                    "type": "incident",
                    "summary": "The server is on fire.",
                    "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK",
                    "incident_number": 1234,
                    "created_at": "2015-10-06T21:30:42Z",
                    "status": "resolved",
                    "pending_actions": [
                      {
                        "type": "unacknowledge",
                        "at": "2015-11-10T01:02:52Z"
                      },
                      {
                        "type": "resolve",
                        "at": "2015-11-10T04:31:52Z"
                      }
                    ],
                    "incident_key": "baf7cf21b1da41b4b0221008339ff357",
                    "service": {
                      "id": "PIJ90N7",
                      "type": "generic_email",
                      "summary": "My Mail Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    },
                    "assignments": [
                      {
                        "at": "2015-11-10T00:31:52Z",
                        "assignee": {
                          "id": "PXPGF42",
                          "type": "user_reference",
                          "summary": "Earline Greenholt",
                          "self": "https://api.pagerduty.com/users/PXPGF42",
                          "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                        }
                      }
                    ],
                    "acknowledgements": [
                      {
                        "at": "2015-11-10T00:32:52Z",
                        "acknowledger": {
                          "id": "PXPGF42",
                          "type": "user_reference",
                          "summary": "Earline Greenholt",
                          "self": "https://api.pagerduty.com/users/PXPGF42",
                          "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                        }
                      }
                    ],
                    "last_status_change_at": "2015-10-06T21:38:23Z",
                    "last_status_change_by": {
                      "id": "PXPGF42",
                      "type": "user_reference",
                      "summary": "Earline Greenholt",
                      "self": "https://api.pagerduty.com/users/PXPGF42",
                      "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                    },
                    "first_trigger_log_entry": {
                      "id": "Q02JTSNZWHSEKV",
                      "type": "trigger_log_entry_reference",
                      "summary": "Triggered through the API",
                      "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                      "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV"
                    },
                    "escalation_policy": {
                      "id": "PT20YPA",
                      "type": "escalation_policy_reference",
                      "summary": "Another Escalation Policy",
                      "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                      "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA"
                    },
                    "teams": [
                      {
                        "id": "PQ9K7I8",
                        "type": "team_reference",
                        "summary": "Engineering",
                        "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                        "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                      }
                    ],
                    "urgency": "high"
                  }
                ],
                "limit": 1,
                "offset": 0,
                "total": null,
                "more": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Incidents"
        ],
        "description": "Acknowledge, resolve, escalate or reassign one or more incidents.",
        "summary": "Manage incidents",
        "parameters": [
          {
            "$ref": "#/parameters/from_header"
          },
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "incidents": {
                  "type": "array",
                  "description": "An array of incidents, including the parameters to update.",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the incident to update."
                      },
                      "type": {
                        "type": "string",
                        "description": "The incident type.",
                        "enum": [
                          "incident",
                          "incident_reference"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "description": "The new status of the incident.",
                        "enum": [
                          "resolved",
                          "acknowledged"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "description": "The resolution for this incident if status is set to resolved."
                      },
                      "escalation_level": {
                        "type": "integer",
                        "description": "Escalate the incident to this level in the escalation policy."
                      },
                      "assignments": {
                        "type": "array",
                        "description": "Assign the incident to these assignees.",
                        "items": {
                          "properties": {
                            "assignee": {
                              "$ref": "#/definitions/UserReference",
                              "description": "User that was assigned."
                            }
                          }
                        }
                      },
                      "escalation_policy": {
                        "$ref": "#/definitions/EscalationPolicyReference",
                        "description": "Delegate this incident to the specified escalation policy. This restarts the incident's escalation following the new policy."
                      }
                    },
                    "required": [
                      "id",
                      "type"
                    ]
                  }
                }
              },
              "required": [
                "incidents"
              ],
              "example": {
                "incidents": [
                  {
                    "id": "PT4KHLK",
                    "type": "incident_reference",
                    "status": "acknowledged"
                  },
                  {
                    "id": "PPVZH9X",
                    "type": "incident_reference",
                    "status": "resolved"
                  },
                  {
                    "id": "P8JOGX7",
                    "type": "incident_reference",
                    "assignments": [
                      {
                        "assignee": {
                          "id": "PXPGF42",
                          "type": "user_reference"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All of the updates succeeded.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "incidents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Incident"
                      }
                    }
                  },
                  "required": [
                    "incidents"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "incidents": [
                  {
                    "id": "PT4KHLK",
                    "type": "incident",
                    "summary": "The server is on fire.",
                    "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK",
                    "incident_number": 1234,
                    "created_at": "2015-10-06T21:30:42Z",
                    "status": "resolved",
                    "pending_actions": [
                      {
                        "type": "unacknowledge",
                        "at": "2015-11-10T01:02:52Z"
                      },
                      {
                        "type": "resolve",
                        "at": "2015-11-10T04:31:52Z"
                      }
                    ],
                    "incident_key": "baf7cf21b1da41b4b0221008339ff357",
                    "service": {
                      "id": "PIJ90N7",
                      "type": "generic_email",
                      "summary": "My Mail Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    },
                    "assignments": [
                      {
                        "at": "2015-11-10T00:31:52Z",
                        "assignee": {
                          "id": "PXPGF42",
                          "type": "user_reference",
                          "summary": "Earline Greenholt",
                          "self": "https://api.pagerduty.com/users/PXPGF42",
                          "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                        }
                      }
                    ],
                    "acknowledgements": [
                      {
                        "at": "2015-11-10T00:32:52Z",
                        "acknowledger": {
                          "id": "PXPGF42",
                          "type": "user_reference",
                          "summary": "Earline Greenholt",
                          "self": "https://api.pagerduty.com/users/PXPGF42",
                          "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                        }
                      }
                    ],
                    "last_status_change_at": "2015-10-06T21:38:23Z",
                    "last_status_change_by": {
                      "id": "PXPGF42",
                      "type": "user_reference",
                      "summary": "Earline Greenholt",
                      "self": "https://api.pagerduty.com/users/PXPGF42",
                      "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                    },
                    "first_trigger_log_entry": {
                      "id": "Q02JTSNZWHSEKV",
                      "type": "trigger_log_entry_reference",
                      "summary": "Triggered through the API",
                      "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                      "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV"
                    },
                    "escalation_policy": {
                      "id": "PT20YPA",
                      "type": "escalation_policy_reference",
                      "summary": "Another Escalation Policy",
                      "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                      "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA"
                    },
                    "teams": [
                      {
                        "id": "PQ9K7I8",
                        "type": "team_reference",
                        "summary": "Engineering",
                        "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                        "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                      }
                    ],
                    "urgency": "high"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/incidents/count": {
      "x-description": "Get a count of incidents matching a set of criteria such as service, status, and time. Counts may be fetched per status."
    },
    "/incidents/{id}": {
      "x-description": "Get an incident.",
      "get": {
        "tags": [
          "Incidents"
        ],
        "description": "Show detailed information about an incident. Accepts either an incident id, or an incident number.",
        "summary": "Get an incident",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Either the id or number of the incident to retrieve.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The incident requested.",
            "schema": {
              "type": "object",
              "properties": {
                "incident": {
                  "$ref": "#/definitions/Incident"
                }
              },
              "required": [
                "incident"
              ]
            },
            "examples": {
              "application/json": {
                "incident": {
                  "id": "PT4KHLK",
                  "type": "incident",
                  "summary": "The server is on fire.",
                  "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                  "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK",
                  "incident_number": 1234,
                  "created_at": "2015-10-06T21:30:42Z",
                  "status": "resolved",
                  "pending_actions": [
                    {
                      "type": "unacknowledge",
                      "at": "2015-11-10T01:02:52Z"
                    },
                    {
                      "type": "resolve",
                      "at": "2015-11-10T04:31:52Z"
                    }
                  ],
                  "incident_key": "baf7cf21b1da41b4b0221008339ff357",
                  "service": {
                    "id": "PIJ90N7",
                    "type": "generic_email_reference",
                    "summary": "My Mail Service",
                    "self": "https://api.pagerduty.com/services/PIJ90N7",
                    "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                  },
                  "assignments": [
                    {
                      "at": "2015-11-10T00:31:52Z",
                      "assignee": {
                        "id": "PXPGF42",
                        "type": "user_reference",
                        "summary": "Earline Greenholt",
                        "self": "https://api.pagerduty.com/users/PXPGF42",
                        "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                      }
                    }
                  ],
                  "acknowledgements": [
                    {
                      "at": "2015-11-10T00:32:52Z",
                      "acknowledger": {
                        "id": "PXPGF42",
                        "type": "user_reference",
                        "summary": "Earline Greenholt",
                        "self": "https://api.pagerduty.com/users/PXPGF42",
                        "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                      }
                    }
                  ],
                  "last_status_change_at": "2015-10-06T21:38:23Z",
                  "last_status_change_by": {
                    "id": "PXPGF42",
                    "type": "user_reference",
                    "summary": "Earline Greenholt",
                    "self": "https://api.pagerduty.com/users/PXPGF42",
                    "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                  },
                  "first_trigger_log_entry": {
                    "id": "Q02JTSNZWHSEKV",
                    "type": "trigger_log_entry_reference",
                    "summary": "Triggered through the API",
                    "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV"
                  },
                  "escalation_policy": {
                    "id": "PT20YPA",
                    "type": "escalation_policy_reference",
                    "summary": "Another Escalation Policy",
                    "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                    "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA"
                  },
                  "teams": [
                    {
                      "id": "PQ9K7I8",
                      "type": "team_reference",
                      "summary": "Engineering",
                      "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                      "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                    }
                  ],
                  "urgency": "high"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Incidents"
        ],
        "description": "Acknowledge, resolve, escalate or reassign an incident.",
        "summary": "Update an incident",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the incident to update.",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/from_header"
          },
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "incident": {
                  "type": "object",
                  "description": "The parameters of the incident to update.",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The incident type.",
                      "enum": [
                        "incident",
                        "incident_reference"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "The new status of the incident.",
                      "enum": [
                        "resolved",
                        "acknowledged"
                      ]
                    },
                    "resolution": {
                      "type": "string",
                      "description": "The resolution for this incident if status is set to resolved."
                    },
                    "escalation_level": {
                      "type": "integer",
                      "description": "Escalate the incident to this level in the escalation policy."
                    },
                    "assignments": {
                      "type": "array",
                      "description": "Assign the incident to these assignees.",
                      "items": {
                        "properties": {
                          "assignee": {
                            "$ref": "#/definitions/UserReference",
                            "description": "User that was assigned."
                          }
                        }
                      }
                    },
                    "escalation_policy": {
                      "$ref": "#/definitions/EscalationPolicyReference",
                      "description": "Delegate this incident to the specified escalation policy. This restarts the incident's escalation following the new policy."
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              },
              "required": [
                "incident"
              ],
              "example": {
                "incident": {
                  "type": "incident_reference",
                  "status": "acknowledged"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The incident was updated.",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "incident": {
                      "type": "object",
                      "$ref": "#/definitions/Incident"
                    }
                  },
                  "required": [
                    "incident"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "incident": {
                  "id": "PT4KHLK",
                  "type": "incident",
                  "summary": "The server is on fire.",
                  "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                  "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK",
                  "incident_number": 1234,
                  "created_at": "2015-10-06T21:30:42Z",
                  "status": "resolved",
                  "pending_actions": [
                    {
                      "type": "unacknowledge",
                      "at": "2015-11-10T01:02:52Z"
                    },
                    {
                      "type": "resolve",
                      "at": "2015-11-10T04:31:52Z"
                    }
                  ],
                  "incident_key": "baf7cf21b1da41b4b0221008339ff357",
                  "service": {
                    "id": "PIJ90N7",
                    "type": "generic_email",
                    "summary": "My Mail Service",
                    "self": "https://api.pagerduty.com/services/PIJ90N7",
                    "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                  },
                  "assignments": [
                    {
                      "at": "2015-11-10T00:31:52Z",
                      "assignee": {
                        "id": "PXPGF42",
                        "type": "user_reference",
                        "summary": "Earline Greenholt",
                        "self": "https://api.pagerduty.com/users/PXPGF42",
                        "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                      }
                    }
                  ],
                  "acknowledgements": [
                    {
                      "at": "2015-11-10T00:32:52Z",
                      "acknowledger": {
                        "id": "PXPGF42",
                        "type": "user_reference",
                        "summary": "Earline Greenholt",
                        "self": "https://api.pagerduty.com/users/PXPGF42",
                        "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                      }
                    }
                  ],
                  "last_status_change_at": "2015-10-06T21:38:23Z",
                  "last_status_change_by": {
                    "id": "PXPGF42",
                    "type": "user_reference",
                    "summary": "Earline Greenholt",
                    "self": "https://api.pagerduty.com/users/PXPGF42",
                    "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                  },
                  "first_trigger_log_entry": {
                    "id": "Q02JTSNZWHSEKV",
                    "type": "trigger_log_entry_reference",
                    "summary": "Triggered through the API",
                    "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV"
                  },
                  "escalation_policy": {
                    "id": "PT20YPA",
                    "type": "escalation_policy_reference",
                    "summary": "Another Escalation Policy",
                    "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                    "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA"
                  },
                  "teams": [
                    {
                      "id": "PQ9K7I8",
                      "type": "team_reference",
                      "summary": "Engineering",
                      "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                      "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                    }
                  ],
                  "urgency": "high"
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/incidents/{id}/log_entries": {
      "x-description": "List incident log entries for an incident.",
      "get": {
        "tags": [
          "Incidents"
        ],
        "description": "List log entries for the specified incident.",
        "summary": "List log entries for the incident",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/time_zone"
          },
          {
            "$ref": "#/parameters/log_entry_is_overview"
          },
          {
            "$ref": "#/parameters/include_log_entry"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of the incident's log entries.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "log_entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/LogEntry"
                      }
                    }
                  },
                  "required": [
                    "log_entries"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "log_entries": {
                  "log_entries": [
                    {
                      "id": "Q02JTSNZWHSEKV",
                      "type": "trigger_log_entry",
                      "summary": "Triggered through the API",
                      "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                      "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV",
                      "created_at": "2015-11-07T00:14:20Z",
                      "agent": {
                        "id": "PIJ90N7",
                        "type": "generic_email_reference",
                        "summary": "My Mail Service",
                        "self": "https://api.pagerduty.com/services/PIJ90N7",
                        "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                      },
                      "channel": {
                        "type": "api"
                      },
                      "incident": {
                        "id": "PT4KHLK",
                        "type": "incident_reference",
                        "summary": "The server is on fire.",
                        "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                        "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK"
                      },
                      "teams": [
                        {
                          "id": "PQ9K7I8",
                          "type": "team_reference",
                          "summary": "Engineering",
                          "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                          "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                        }
                      ],
                      "contexts": [],
                      "event_details": {
                        "description": "Tasks::SFDCValidator - PD_Data__c - duplicates"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/incidents/{id}/grouped_log_entries": {
      "x-description": "List grouped incident log entries for an incident."
    },
    "/incidents/{id}/notes": {
      "x-description": "List and create incident notes.",
      "get": {
        "tags": [
          "Incidents"
        ],
        "description": "List existing notes for the specified incident.",
        "summary": "List existing notes for the specified incident",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of notes.",
            "schema": {
              "type": "object",
              "properties": {
                "notes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IncidentNote"
                  }
                }
              },
              "required": [
                "notes"
              ]
            },
            "examples": {
              "application/json": {
                "notes": [
                  {
                    "id": "PWL7QXS",
                    "user": {
                      "id": "PXPGF42",
                      "type": "user_reference",
                      "summary": "Earline Greenholt",
                      "self": "https://api.pagerduty.com/users/PXPGF42",
                      "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                    },
                    "content": "Firefighters are on the scene.",
                    "created_at": "2013-03-06T15:28:51-05:00"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Incidents"
        ],
        "description": "Create a new note for the specified incident.",
        "summary": "Create a new note for the specified incident",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/from_header"
          },
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "note": {
                  "$ref": "#/definitions/IncidentNote"
                }
              },
              "required": [
                "note"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The new note.",
            "schema": {
              "type": "object",
              "properties": {
                "note": {
                  "$ref": "#/definitions/IncidentNote"
                }
              },
              "required": [
                "note"
              ]
            },
            "examples": {
              "application/json": {
                "note": {
                  "id": "PWL7QXS",
                  "user": {
                    "id": "PXPGF42",
                    "type": "user_reference",
                    "summary": "Earline Greenholt",
                    "self": "https://api.pagerduty.com/users/PXPGF42",
                    "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                  },
                  "content": "Firefighters are on the scene.",
                  "created_at": "2013-03-06T15:28:51-05:00"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/incidents/{id}/snooze": {
      "x-description": "\"Snooze\" an incident. This suspends the acknowledgement timeout and auto-resolution for a given amount of time.",
      "post": {
        "tags": [
          "Incidents"
        ],
        "description": "Snooze an incident.",
        "summary": "Snooze an incident",
        "parameters": [
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/from_header"
          },
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "duration": {
                  "type": "integer",
                  "description": "The number of seconds to snooze the incident for. After this number of seconds has elapsed, the incident will return to the \"triggered\" state."
                }
              },
              "required": [
                "duration"
              ],
              "example": {
                "duration": 3600
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The incident that was successfully snoozed.",
            "schema": {
              "type": "object",
              "properties": {
                "incident": {
                  "$ref": "#/definitions/Incident"
                }
              },
              "required": [
                "incident"
              ]
            },
            "examples": {
              "application/json": {
                "incident": {
                  "id": "PT4KHLK",
                  "type": "incident",
                  "summary": "The server is on fire.",
                  "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                  "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK",
                  "incident_number": 1234,
                  "created_at": "2015-10-06T21:30:42Z",
                  "status": "resolved",
                  "pending_actions": [
                    {
                      "type": "unacknowledge",
                      "at": "2015-11-10T01:02:52Z"
                    },
                    {
                      "type": "resolve",
                      "at": "2015-11-10T04:31:52Z"
                    }
                  ],
                  "incident_key": "baf7cf21b1da41b4b0221008339ff357",
                  "service": {
                    "id": "PIJ90N7",
                    "type": "generic_email",
                    "summary": "My Mail Service",
                    "self": "https://api.pagerduty.com/services/PIJ90N7",
                    "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                  },
                  "assignments": [
                    {
                      "at": "2015-11-10T00:31:52Z",
                      "assignee": {
                        "id": "PXPGF42",
                        "type": "user_reference",
                        "summary": "Earline Greenholt",
                        "self": "https://api.pagerduty.com/users/PXPGF42",
                        "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                      }
                    }
                  ],
                  "acknowledgements": [
                    {
                      "at": "2015-11-10T00:32:52Z",
                      "acknowledger": {
                        "id": "PXPGF42",
                        "type": "user_reference",
                        "summary": "Earline Greenholt",
                        "self": "https://api.pagerduty.com/users/PXPGF42",
                        "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                      }
                    }
                  ],
                  "last_status_change_at": "2015-10-06T21:38:23Z",
                  "last_status_change_by": {
                    "id": "PXPGF42",
                    "type": "user_reference",
                    "summary": "Earline Greenholt",
                    "self": "https://api.pagerduty.com/users/PXPGF42",
                    "html_url": "https://subdomain.pagerduty.com/users/PXPGF42"
                  },
                  "first_trigger_log_entry": {
                    "id": "Q02JTSNZWHSEKV",
                    "type": "trigger_log_entry_reference",
                    "summary": "Triggered through the API",
                    "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV"
                  },
                  "escalation_policy": {
                    "id": "PT20YPA",
                    "type": "escalation_policy_reference",
                    "summary": "Another Escalation Policy",
                    "self": "https://api.pagerduty.com/escalation_policies/PT20YPA",
                    "html_url": "https://subdomain.pagerduty.com/escalation_policies/PT20YPA"
                  },
                  "teams": [
                    {
                      "id": "PQ9K7I8",
                      "type": "team_reference",
                      "summary": "Engineering",
                      "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                      "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                    }
                  ],
                  "urgency": "high"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/log_entries": {
      "x-description": "List all of the log entries across your account. These can be filtered (for instance, by time or by team), and the results will be paginated.",
      "get": {
        "tags": [
          "Log Entries"
        ],
        "description": "List all of the incident log entries across the entire account.",
        "summary": "List log entries",
        "parameters": [
          {
            "$ref": "#/parameters/time_zone"
          },
          {
            "$ref": "#/parameters/since"
          },
          {
            "$ref": "#/parameters/until"
          },
          {
            "$ref": "#/parameters/log_entry_is_overview"
          },
          {
            "$ref": "#/parameters/include_log_entry"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of log entries.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "log_entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/LogEntry"
                      }
                    }
                  },
                  "required": [
                    "log_entries"
                  ]
                }
              ]
            },
            "examples": {
              "application/json": {
                "log_entries": [
                  {
                    "id": "Q02JTSNZWHSEKV",
                    "type": "trigger_log_entry",
                    "summary": "Triggered through the API",
                    "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV",
                    "created_at": "2015-11-07T00:14:20Z",
                    "agent": {
                      "id": "PIJ90N7",
                      "type": "generic_email_reference",
                      "summary": "My Mail Service",
                      "self": "https://api.pagerduty.com/services/PIJ90N7",
                      "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                    },
                    "channel": {
                      "type": "api"
                    },
                    "incident": {
                      "id": "PT4KHLK",
                      "type": "incident_reference",
                      "summary": "The server is on fire.",
                      "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                      "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK"
                    },
                    "teams": [
                      {
                        "id": "PQ9K7I8",
                        "type": "team_reference",
                        "summary": "Engineering",
                        "self": "https://api.pagerduty.com/teams/PQ9K7I8",
                        "html_url": "https://subdomain.pagerduty.com/teams/PQ9K7I8"
                      }
                    ],
                    "contexts": [],
                    "event_details": {
                      "description": "Tasks::SFDCValidator - PD_Data__c - duplicates"
                    }
                  }
                ],
                "limit": 1,
                "offset": 0,
                "total": null,
                "more": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/ArgumentError"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/log_entries/{id}": {
      "x-description": "Get a single log entry by ID.",
      "get": {
        "tags": [
          "Log Entries"
        ],
        "description": "Get details for a specific incident log entry. This method provides additional information you can use to get at raw event data.",
        "summary": "Get a log entry",
        "parameters": [
          {
            "$ref": "#/parameters/time_zone"
          },
          {
            "$ref": "#/parameters/id"
          },
          {
            "$ref": "#/parameters/include_log_entry"
          }
        ],
        "responses": {
          "200": {
            "description": "A single log entry.",
            "schema": {
              "type": "object",
              "properties": {
                "log_entry": {
                  "$ref": "#/definitions/LogEntry"
                }
              },
              "required": [
                "log_entry"
              ]
            },
            "examples": {
              "application/json": {
                "log_entry": {
                  "id": "Q02JTSNZWHSEKV",
                  "type": "trigger_log_entry",
                  "summary": "Triggered through the API",
                  "self": "https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK",
                  "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV",
                  "created_at": "2015-11-07T00:14:20Z",
                  "agent": {
                    "id": "PIJ90N7",
                    "type": "generic_email_reference",
                    "summary": "My Mail Service",
                    "self": "https://api.pagerduty.com/services/PIJ90N7",
                    "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
                  },
                  "channel": {
                    "type": "api"
                  },
                  "incident": {
                    "id": "PT4KHLK",
                    "type": "incident_reference",
                    "summary": "The server is on fire.",
                    "self": "https://api.pagerduty.com/incidents/PT4KHLK",
                    "html_url": "https://subdomain.pagerduty.com/incidents/PT4KHLK"
                  },
                  "teams": [
                    {
[...]
